/target
**/*.rs.bk
.idea/
.vscode/
*.swp
.DS_Store

# Python Build Artifacts
dist/
build/
python/icebox/_native.*
python/icebox/_icebox*.so
python/icebox/__pycache__/
python/*.egg-info/
*.pyc
__pycache__/
__pycache__/
